-c constraints-tooling.txt
-e ./packages/qpane
-e ./packages/cutecanvas
-e ./packages/ferrastra
setuptools
setuptools-scm
wheel
pytest
pytest-xdist
ruff
black
build
packaging
python-semantic-release
twine
readme-renderer[md]
maturin
pyright
tomli
pip-audit
